.App {
  background-color: blanchedalmond;
  height: 100vh;
  width: 100vw;
}

.search-container {
  padding-top: 20vh;
  width: 40%; /* 40% of parent component */
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
}
